.navigation {
	padding: 0 30px 100px 30px;
}

.navigation__inner {
	width: 100%;
	max-width: 1480px;
	margin: 0 auto;
}

.navigation__iframe {
	width: 100%;
	height: 530px;
	border-radius: 30px;
}

@include max-width(520px) {
	.navigation {
		padding: 0 20px 50px 20px;
	}
}

@include max-width(420px) {
	.navigation__iframe {
		display: block;
		width: 100%;
		max-width: 343px;
		height: 468px;
		margin: 0 auto;
	}
}
